<aside class="md:flex-[1]">
    <div class="bg-white mb-4 rounded-md p-3 border-[#0000002d] border-solid border ">
        <div>
            <h5 class="text-[#005e22] max-lg:text-lg text-xl">Economía circular<i class="fa-light fa-pen"></i></h5>
            <h6 class="text-[#212529bf] max-lg:text-base text-lg pb-2">Joan Gómez</h6>
            <p class="pb-3 md:text-sm">Aprende sobre la gestión de residuos para un mayor impacto positivo en el medio ambiente.</p>
            <a href="#" class="text-blue-600 hover:text-blue-700 underline md:max-lg:text-sm">Saber más...</a>
        </div>
    </div>

    <div class="bg-white mb-4 rounded-md p-2 border-[#0000002d] border-solid border">
        <div>
            <h5 class="text-[#005e22] max-lg:text-lg text-xl">Vivir con el clima</h5>
            <h6 class="text-[#212529bf] max-lg:text-base text-lg pb-2">Ramona Sató</h6>
            <p class="pb-3 md:text-sm">Aprende los principios sobre la ventilación cruzada, materiales naturales, etc...</p>
            <a href="#" class="text-blue-600 hover:text-blue-700 underline md:max-lg:text-sm">Saber más...</a>
        </div>
    </div>
</aside>